<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="../public/css/styles.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>
    <title>By M.</title>
  </head>
  <body>
    <header>
      <a href="../index.html"><img src="../public/img/Logo/Logo-nav-footer.svg" alt="Logo-ByM" /></a>
      <nav class="navbar">
        <i id="burger" class="fa-solid fa-bars"></i>
        <!-- <i class="fa-solid fa-xmark"></i> -->
        <ul class="navbar__ul">
          <li class="navbar__li">
            <a href="../views/bio.html">Bio</a></li>
          <li class="navbar__li">
            <a href="../views/servicios.html">Servicios</a>
          </li>
          <li class="navbar__li">
            <a href="../views/portfolio.html">Portfolio</a>
          </li>
          <li class="navbar__li">
            <a href="../views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section class="about">
            <img src="../public/img/Bio/Bio-1.svg" alt="tablet-teclado">
            <article class="about__text">
                <img src="../public/img/Logo/Logo-nav-footer.svg" alt="logo-bym"> es un estudio de diseño multidiciplinario, intinerante y dinámico especializado en Diseño UX/UI y Desarrollo Web.
            </article>
        </section>
        <section class="about">
            <article class="about__text">
                Nos gusta el café, el rock & roll, las tendencias, las tipografías, los patterns, los viernes, la lluvia, el arte y la buenas vibras. <b>¡Amamos el diseño!</b>
            </article>
            <img src="../public/img/Bio/Bio-2.svg" alt="nosotros">
        </section>
        <div class="us">
            <section class="us__paragraphs">
                <article class="us__paragraphs--vision">
                    <h3>Visión</h3>
                    <p>Trabajamos desde la responsabilidad, la confianza y la solaridad como nuestros pilares fundamentales de nuestro equipo.
                    </p>
                </article>
                <article class="us__paragraphs--creativity">
                    <h3 class="us__paragraphs--h3">Creatividad</h3>
                    <p>La conceptualización como base para proyectar ideas. Y nuestro lema: "La inspiración existe pero debe encontrarte trabajando" Picasso.
                    </p>
                </article>
                <article class="us__paragraphs--pasion">
                    <h3>Pasión</h3>
                    <p>Es el principal motivador para hacer lo que elegimos, aprender en todo momento y continuar haciendo nuevos proyectos.
                    </p>
                </article>
            </section>
            <section class="team">
                <img src="../public/img/Bio/Bio-3.svg" alt="team">
            </section>
        </div>
        <section class="about">
            <img src="../public/img/Bio/Bio-4.svg" alt="colors">
            <article class="about__text">
                Tenemos un trastorno completamente obsesivo con la coherencia de las identidades gráficas, -y ¡Y nos encanta!

            </article>
        </section>
        <section class="about">
            <article class="about__text">
                Te acompañamos en la creación y evolución integral de tus proyectos, dándoles la forma estética y comunicacional que necesitan.
            </article>
            <img src="../public/img/Bio/Bio-5.svg" alt="wireframe">
        </section>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13144.931631090183!2d-58.464195651173966!3d-34.547657887583924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7ab99004b1f%3A0x2da179aed9a40944!2sHIT%20Libertador!5e0!3m2!1ses!2sar!4v1664914919919!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="location__address">Nos encontramos en el barrio de Núñez, CABA</p>
        </div>
    </main>
    <footer>
      <div class="footer__top">
        <img class="logo__footer" src="../public/img/Logo/Logo-nav-footer.svg" alt="Logo-ByM" />
        <div class="arq">
          <p class="arq__about"> <a href="../views/bio.html">Sobre By M.</a></p>
          <p class="arq__serv"> <a href="../views/servicios.html">Servicios</a></p>
          <p class="arq__port"> <a href="../views/portfolio.html">Portfolio</a></p>
          <p class="arq__contact"> <a href="../views/contacto.html">Contactanos</a></p>
        </div>
        <div class="redes">
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.behance.net/macarenbernal"
            ><i class="fa-brands fa-square-behance"></i
          ></a>
          <a href="https://www.linkedin.com/in/macarena-bernal-ramirez/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/Mcsand22"><i class="fa-brands fa-github"></i></a>
      </div>
      </div>
      <p class="copy">With <i class="fa-solid fa-heart"></i> by Mcsand</p>
    </footer>  
</body>
</html>