<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" href="../public/css/styles.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Home</title>
  </head>
    <title>By M.</title>
  </head>
  <body>
    <header>
      <a href="../index.html"><img src="../public/img/Logo/Logo-nav-footer.svg" alt="Logo-ByM" /></a>
      <nav class="navbar">
<!--         <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i> -->
        <ul class="navbar__ul">
          <li class="navbar__li">
            <a href="../views/bio.html">Bio</a></li>
          <li class="navbar__li">
            <a href="../views/servicios.html">Servicios</a>
          </li>
          <li class="navbar__li">
            <a href="../views/portfolio.html">Portfolio</a>
          </li>
          <li class="navbar__li">
            <a href="../views/contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="card">
      <section class="card--F2ACD3">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card1.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
      <section class="card--F29BDB">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card2.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
      <section class="card--D977C8">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card3.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
      <section class="card--7EB6D9">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card4.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
      <section class="card--9BEAF2">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card5.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
      <section class="card--F2ACD3">
        <a href="../views/card.html"><img src="../public/img/Portfolio/card6.svg" alt="proyect"></a>
        <article class="card__content">
          <h4>Titulo</h4>
          <p>Descripción</p>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer__top">
        <img src="../public/img/Logo/Logo-nav-footer.svg" alt="Logo-ByM" />
        <div class="arq">
          <p class="arq__about"> <a href="../views/bio.html">Sobre By M.</a></p>
          <p class="arq__serv"> <a href="../views/servicios.html">Servicios</a></p>
          <p class="arq__port"> <a href="../views/portfolio.html">Portfolio</a></p>
          <p class="arq__contact"> <a href="../views/contacto.html">Contactanos</a></p>
        </div>
        <div class="redes">
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.behance.net/macarenbernal"
            ><i class="fa-brands fa-square-behance"></i
          ></a>
          <a href="https://www.linkedin.com/in/macarena-bernal-ramirez/"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://github.com/Mcsand22"><i class="fa-brands fa-github"></i></a>
      </div>
      </div>
      <p class="copy">With <i class="fa-solid fa-heart"></i> by Mcsand</p>
    </footer>
  </body>
</html>
